body{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1 rem;
    background-color: rgba(167, 161, 161, 0.274);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "header header header section1 section1 section1"
                         "header header header section1 section1 section1"
                         "header header header section2 section2 section2"
                         "header header header section2 section2 section2"
                         "nav1 nav1 nav1 nav1 nav1 nav1"
                         "main1 main1 main1 main1 main1 main1"
                         "main1 main1 main1 main1 main1 main1"
                         "main1 main1 main1 main1 main1 main1"
                         "main1 main1 main1 main1 main1 main1"
                         "main1 main1 main1 main1 main1 main1"
                         "main1 main1 main1 main1 main1 main1"
                         "cards cards cards cards cards cards"
                         "cards cards cards cards cards cards"
                         "main2 main2 main2 main2 main2 main2"
                         "main2 main2 main2 main2 main2 main2"
                         "main2 main2 main2 main2 main2 main2"
                         "main2 main2 main2 main2 main2 main2"
                         "main2 main2 main2 main2 main2 main2"
                         "main2 main2 main2 main2 main2 main2"
                         "box1 box1 box2 box2 box3 box3"
                         "box1 box1 box2 box2 box3 box3"
                         "box1 box1 box2 box2 box3 box3"
                         "box4 box4 box5 box5 box6 box6"
                         "box4 box4 box5 box5 box6 box6"
                         "box4 box4 box5 box5 box6 box6"
                         "nav2 nav2 nav2 nav2 nav2 nav2"
                         "footer footer footer footer footer footer"
                         "footer footer footer footer footer footer"
                         "footer footer footer footer footer footer"
                         "footer footer footer footer footer footer"
                         "footer footer footer footer footer footer"
                         "footer footer footer footer footer footer";
  }
  /*Defining all grid spaces with background and respective styling*/
  .header
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 501px;
    height: 544px;
  }
  
  .header h1
  {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    /* or 45px */
    letter-spacing: -0.02em;
    color: #000000;
  
    width: 314px;
    height: 70px;
    left: 324px;
    top: 71px;
  }

  .header p
  {
    width: 314px;
    height: 103px;
    left: 324px;
    top: 172px;
  
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0%;
  }
  
  .header button
  {	
    width: 120px;
    height: 40px;
    left: 100px;
    top: 240px;
  
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 12px;
    
  
    color: rgba(0, 0, 0, 0.8);
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    align-self: center;
  }
  
  .header img
  {
      width: 286px;
      height: 279px;
  
      align-self: flex-end;
      margin-right: 1rem;
  }
  
  
  /* Grid space Section 1 and styling*/
  .section1
  {
    background-color: #f17949;
    grid-area: section1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 501px;
    height: 272px;
  }
  
  .section1 h1
  {
   
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    color: white;
  }
  .section1 p
  {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .section2
  {
    background-color: #fab131;
    grid-area: section2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 501px;
    height: 272px;
    
  }

  .main1 p
  {
    align-self: flex-end;
   
    width: 314px;
    height: 103px;
    left: 324px;
    top: 172px;
  
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0%;
    margin-right: 8rem;
    margin-bottom: 8rem;
  }
  
  .cards {
    grid-area: cards;
    display: flex;
    justify-content: space-around;
  }
  
  .iBox1
  {
    position: absolute;
    width: 200px;
    height: 250px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    align-self: flex-start;
    margin-left: 6rem;
    margin-top: 30rem;
  
  }
  
  .text p
  {
    color: red;
    font-size: 11px;
    text-align: center;
    
    align-self: flex-start;
    margin-left: 6rem;
    margin-top: 30rem;
  }
  
  #iBoxImg1
  {
    height: 150px;
    width: 50px;
  
    background-color: #c7ddea;
  }
  
  .iBox2
  {
    position: absolute;
    width: 200px;
    height: 250px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    align-self: flex-start;
    margin-left: 6rem;
    margin-top: 30rem;
  
  }
  
  #iBoxImg2
  {
    height: 150px;
    width: 50px;
  
    background-color: #c7ddea;
  }
  
  .iBox3
  {
    position: absolute;
    width: 200px;
    height: 250px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    align-self: flex-start;
    margin-left: 6rem;
    margin-top: 30rem;
  
  }        
  #iBoxImg3
{
  height: 150px;
  width: 50px;

  background-color: #c7ddea;
}

.main2
{
  background-color: #fab131;
  grid-area: main2;
  
  width: 1002px;
  height: 680px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.main2 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 45px;
  color: #FFFFFF;
  
  align-self: center;

  margin-left: 0rem;
  margin-top: 6rem;
}
.main2 p
{
  align-self: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  margin: 15rem;
  margin-top: 1rem;
}

.box1
{
  background-color: #c7ddea ;
  grid-area: box1;
  
  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box1 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
}

.box2
{
  background-color: #ffffff ;
  grid-area: box2;  

  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
}

.box2 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);

  justify-content: flex-start;
  margin: 1rem;
}

.box2 p
{
  align-self: center;
  align-content: center;
  justify-content: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5rem;
}

.box3
{
  background-color: #ebebeb ;
  grid-area: box3; 
  
  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
}

.box3 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);

  justify-content: flex-start;
  margin: 1rem;
}

.box3 p
{
  align-self: center;
  align-content: center;
  justify-content: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5rem;
}

.box4
{
  background-color: #ffffff ;
  grid-area: box4;

  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
}

.box4 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);

  justify-content: flex-start;
  margin: 1rem;
}

.box4 p
{
  align-self: center;
  align-content: center;
  justify-content: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5rem;
}
.box5
{
  background-color: #f17949 ;
  grid-area: box5;  

  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
}

.box5 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);

  justify-content: flex-start;
  margin: 1rem;
}

.box5 p
{
  align-self: center;
  align-content: center;
  justify-content: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5rem;
}


.box6
{
  background-color: #ffffff ;
  grid-area: box6;
  
  width: 334px;
  height: 340px;  

  display: flex;
  flex-direction: column;
}

.box6 h1
{
  font-family: Frank Ruhl Libre;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);

  justify-content: flex-start;
  margin: 1rem;
}

.box6 p
{
  align-self: center;
  align-content: center;
  justify-content: center;

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5rem;
}

.nav2
{
  grid-area: nav2;
  
  width: 1002px;
  height: 68px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #A9A19E;
}

.nav2 a{
  text-align: center;
  padding: 1rem;
  flex: 1;
  transition: all 0.2s ease;
  
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.nav2 a:hover{
  background-color: #E5E5E5;
  flex: 3;
}

.footer
{
  background-color: #777574;
  grid-area: footer;

  width: 1002px;
  height: 340px;
}

/*Styling grid spaces*/
















